@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

.main{
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	min-height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: .5s ease-out all;
}

.main-disabled{
	transform: translateY(100%);
}

.countdown-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin:0 0 60px 0;
}


.box{
	width: 75px;
	height: 75px;
	margin:5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 2px #27272780;
}

.time-indicator{
	font-weight: 300;
	font-size: 13px;
}

.time{
	font-size: 25px;
}

.red{
	color:#b30c00;
}

.green{
	color:#158003;
}

.title{
	margin: 0 0 70px 0;
	font-size: 35px;
	text-align: center;
	color:white;
	font-weight: 700;
	text-shadow: 0.1em 0.1em #333;
}



.social-media{
	align-self: flex-end !important;
	position: absolute;
	bottom: 0;
}

.social-media a{
	text-decoration: none;
	color:black;
	font-size: 25px;
	margin: 10px 10px 0 0;
}

.fundations{
	background-color: rgba(0, 0, 0, .6);
	padding: 10px;
	text-align: center;
	box-shadow: 0px 2px 2px #27272780;
}

.fundations a{
	text-decoration: none;
}

.fundations-title{
	font-size: 13px;
	color: white;
	text-shadow: 0.1em 0.1em #333;	
	margin:0 0 15px 0;
}


.fundation-logo{
	width: 40px;
	height: 40px;	
}




/*CUANDO FINALIZA EL CONTADOR */

.final-message{
	width: 100%;
	min-height: 100vh;
	background-image: url(../img/pexels-public-domain-pictures-40541.jpg);
	background-size: cover;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
}

.message{
	font-size: 40px;
	margin:50px 0 0 0;
	text-shadow: 2px 2px white;
}


.merry-christmas{
	text-align: center;
	margin: 30px 0 0 0;
	text-shadow: 2px 2px white;
}

@media screen and (min-width: 700px){
	.box{
		width: 150px;
		height: 150px;
		margin:10px;
	}
	.title{
		font-size: 50px;	
	}
	.time-indicator{
		font-weight: 500;
		font-size: 17px;
	}	

	.time{
		font-size: 45px;
	}

	.message{
		font-size: 100px;
	}
	.final-message{
		justify-content:flex-start;
		align-items: flex-start;
	}
	.merry-christmas{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 560px;
		font-size: 30px;
	}
	
}