@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;700&display=swap');

body{
	font-family: 'Teko', sans-serif;
	background-image: url("background.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:white;
}


.clockdate-wrapper{

	width:300px;
	height: 150px;
	background-color: rgba(3, 3, 3,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: 0px 1px 2px #27272780;
	margin:10px 0 0 0  ;
}

#clockdate{
	display: flex;
	justify-content: center;
	align-items: center;
}


#clock, 
#date{
	font-weight: 700;
	font-size: 50px;
}

.fecha{
	width: 300px;
	height: 80px;
	background-color: rgba(3, 3, 3,.7); 
	align-self: center;
	margin: 22px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size:30px;
	box-shadow: 0px 1px 2px #27272780;

}

.title{
	color:black;
	font-size: 60px;
}

.social-media{
	align-self: flex-end;
	position: absolute;
	bottom: 0;
}

.social-media a{
	text-decoration: none;
	color:black;
	font-size: 25px;
	margin: 10px 10px 0 0;

}

@media screen and (max-width: 350px){
	.title{
		font-size: 40px;
	}


}